.center {
    text-align: center;
}

.vpad-lg {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.margin-top {
    margin-top: 1rem !important;
}

button.wide~button.wide {
    margin-top: 0.5rem !important;
}

button.wide {
    width: calc(100% - 0.5rem);
}

body,
table {
    font-size: 12px;
}

.app {
    margin: 0 auto;
    max-width: 40rem;
    height: 100vh;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    position: absolute;
}

.app> :nth-child(2) {
    flex: 1;
}

.app> :not(:first-child) {
    padding: 0.5rem;
}


.header {
    background: black;
    /*#8c2022; #4aa52e; #e76e55; #f7d51d;*/
    padding: 0.75rem;
    padding-bottom: 0.25rem;
    /* margin: -1.3rem -1.8rem 2.5rem -1.8rem;  */
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.logo {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

table {
    /* width: 100%; */
    border: 1px solid black;
}

table td {
    border: 1px solid black;
    margin: 0px;
}

table th {
    background-color: #eee;
}

table.nes-table {
    table-layout: auto !important;
}

html,
body,
pre,
code,
kbd,
samp {
    font-family: Press Start 2P;
}

td.small {
    /* width: 1rem; */
    padding: 0;
    margin: 0;
}

.wide {
    width: 100%;
}

.bad-bet {
    background: #8c2022;
    color: white;
}


tr.is-success {
    background: #92cc41;
    color: white;
}



/* ANIMATION */
.loader {
    background: #000;
    background: radial-gradient(#222, #000);
    overflow: hidden;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation:
        spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}

.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap:nth-child(1) {
    animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
    animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
    animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
    animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
    animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {

    0%,
    15% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.winner {
    animation: winner-color 2.0s infinite alternate-reverse;
}

.winner-scale {
    animation: winner-scale 0.5s infinite ease;
}

.winner-scale-reverse {
    animation: winner-wave 2.5s infinite;
}


@keyframes winner-color {
    0% {
        background-color: #92cc41;
    }

    25% {
        background-color: #c3cc41;
    }

    75% {
        background-color: #41cc64;
    }

    100% {
        background-color: #41b7cc;
    }
}


@keyframes winner-scale {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1.05) rotate(5deg);
    }

    66% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes winner-wave {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-0.15rem);
    }

    100% {
        transform: translateY(0px);
    }
}